{% extends 'base.html.twig' %}
{% block body %}
    <div class="w3-container">
    {{ form_start(formulario) }}
    <input type="submit" value="Guardar">
    {{ form_end(formulario) }}    
    </div>

{% endblock %}
