{% extends 'base.html.twig' %}
{% block body %}
    <div class="w3-container">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-indigo">
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>horario</th>
                </tr>
            </thead>
            {% for item in usuarios %}
            <tr>
                <td>{{item.Nombre}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.horario}}</td>
            </tr>

            {% endfor %}
           
        </table>
    </div>

{% endblock %}
