{% extends 'base.html.twig' %}
{% block body %}

    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-indigo">
                <th>texto</th>
                <th>Usuario</th>
                <th>Ubicacion</th>
                <th>nº likes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in coments %}

                <tr>
                    <td>
                        {{item.texto}}
                    </td>
                    <td>
                        <a href="{{ path('editC',{id: item.id }) }}">{{item.propietario}}</a>
                    </td>
                    <td>{{item.ubicacion}}</td>
                    <td>{{item.likes | default('SinVotar') }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    porke me apetece meto aki un link
    <a href="{{ path('insertarComentario') }}"><input type="button" value="New COmentario"/></a>


{% endblock %}
